.vscode/
README.md
.gitignore
.git/
*/node_modules/
.next
.gitignore
Dockerfile
docker-compose.yaml
docker-compose.production.yaml
.dockerignore
.dockerignore
.git 
.gitignore 
CODE_OF_CONDUCT.MD 
Dockerfile 
LICENSE 
README.md 
SECURITY.MD 
composer.json 
composer.lock 
docker-compose.production.yaml 
docker-compose.yaml 

